
<h1>Welcome to <%= @crm_app_name %>! </h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <!-- please complete me with links to other actions -->
  <li><a href="/contacts/1">View contact: Amin</a></li>
  <li><a href="/contacts/2">View contact: hey</a></li>
  <li><a href="/contacts/3">View contact: Johnny</a></li>

</ul>
