require 'sinatra'
<!DOCTYPE html>
<html>
  <head>
<link rel='stylesheet' type='text/css' href='/style.css'>



<title> My website </title>
  </head>


  <body>
    <%= yield %>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quis,
     voluptas placeat enim beatae,
    unde amet temporibus! Rerum atque animi, temporibus inventore pariatur,
    sequi debitis ratione delectus vitae magni maxime.</p>



  </body>
</html>
